.sl-item {
    max-height: 218px;
}
@media (max-width: 1200px){
	.sl-item {
	    max-height: 178px;
	}
}
@media (max-width: 992px){
	.sl-item {
	    max-height: 207px;
	}
}
@media (max-width: 768px){
	.sl-item {
	    max-height: none;
	}
	.slick-slide img {
	    width: 100%;
	}
}
